/* Global------------------------------------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f0f0f0;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #004080; /* Bleu foncé */
}

/* HEADER ----------------------------------------------------------------------------------------------------------------- */
/* STYLES PAR DÉFAUT (pour grands écrans) */
.nav-links {
    display: flex; /* Affiche les onglets sur les grands écrans */
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.burger {
    display: none; /* Cacher le burger par défaut */
}

.floating-logo {
    position: absolute;
    top: 75px;
    left: 200px; /* Centrer horizontalement */
    transform: translateX(-50%); /* Assurez un centrage parfait */
    z-index: 2;
}

.floating-logo img {
    width: 350px; /* Taille par défaut */
    height: auto;
    pointer-events: none; /* Empêche toute interaction */
    transition: width 0.3s ease; /* Animation fluide pour les changements de taille */
}

.navbar {
    background: #2C3E50; /* Bleu foncé */
    color: white;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative; /* Pour que les enfants soient positionnés correctement */
    z-index: 2;
}

.nav-links li {
    margin: 0 15px;
}

.logo span {
    color: #e04837;
}

/* POUR MOBILE (max-width: 768px) */
@media (max-width: 768px) {
    .burger {
        display: flex; /* Montrer le burger en mobile */
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        cursor: pointer;
        z-index: 3;
    }

    .burger .line {
        background: white;
        height: 4px;
        border-radius: 2px;
        transition: all 0.3s ease;
    }

    .nav-links {
        display: none; /* Masquer les onglets par défaut */
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        right: 0;
        background: #2C3E50;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 2;
    }

    .nav-links.active {
        display: flex; /* Afficher les liens lorsque le menu burger est actif */
        padding-top: 90px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .floating-logo img {
        width: 200px; /* Taille plus petite pour mobiles */
    }

    .navbar {
        align-items: center;
    }
}
@media (min-width: 1025px) {
    .floating-logo {
        top: 25px;
    }

    .about-content{
        margin-top: 50px !important;
    }
}

/* POUR TABLETTES (entre 769px et 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .burger {
        display: none; /* Cacher le menu burger sur tablettes */
    }

    .nav-links {
        display: flex; /* Assurer que les liens soient visibles */
        flex-direction: row;
    }
    .floating-logo {
        top: 80px; /* Ajuste la position verticale si nécessaire */
        left: 20%; /* Garde centré horizontalement */
        transform: translateX(-50%);
    }

    .floating-logo img {
        width: 250px; /* Changez cette taille selon vos besoins */
        height: auto; /* Conserve le ratio de l'image */
    }

    .navbar {
        justify-content: space-between;
    }
}

/* POUR PETITS ÉCRANS (max-width: 480px) */
@media (max-width: 480px) {
    .floating-logo {
        position: absolute;
        top: calc(100px + 5%); /* Ajuste en fonction de la hauteur du header */
        left: 50%; /* Centrage horizontal */
        transform: translate(-50%, -50%); /* Centrage parfait */
    }
    .floating-logo img {
        width: 150px; /* Taille réduite pour petits écrans */
    }

    .navbar {
        justify-content: space-between;
    }
}

/* Style de la ligne sous le header ----------------------------------------------------------------------------------------*/
.header-line {
    height: 4px;  /* Hauteur de la ligne */
    background-color: #e04837;  /* Exemple de couleur orange/rouge. Changez cette couleur selon celle du bouton */
    margin: 0; /* Assurez-vous qu'il n'y ait pas d'espace autour de la ligne */
}


/* About Section------------------------------------------------------------------------------------------------------------ */
.about img.img-propos {
    width: 100%; /* Prend 100% de la largeur du parent */
    max-width: 400px; /* Limite la largeur à 400px, vous pouvez ajuster cette valeur */
    height: auto; /* Conserve le ratio de l'image */
    display: block; /* Assure que l'image s'affiche correctement */
    margin: 0 auto; /* Centrer l'image si nécessaire */
}

.about {
    padding: 100px 20px 35px; /* Espacement global */
    background-color: #dcd7d7; /* Couleur de fond douce */
}

.join-us-btn {
    margin-top: 15px;
}

.about-content {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Pour gérer le responsive */
    gap: 20px; /* Espacement entre les éléments */
    max-width: 1200px;
    margin: 0 auto; /* Centrage de la section */
}

.about-img-container {
    flex: 1;
    max-width: 500px; /* Limite la taille de l'image */
}

.about-img {
    width: 100%; /* L'image s'adapte à son conteneur */
    height: auto;
    border-radius: 10px; /* Coins arrondis pour un style moderne */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Effet d'ombre légère */
}

.about-text {
    flex: 1;
    max-width: 600px; /* Largeur maximale du texte */
    text-align: center;
}


.about-text p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333; /* Texte sombre */
}

@media (max-width: 480px) {
    .about {
        padding: 40px 20px 35px;
    }
    .about-content {
        display: flex;
        flex-direction: column;
    }    
    .join-us-btn {
        margin-top: 15px;
    }
}


/* Hero Section------------------------------------------------------------------------------------------------------ */
.modern-hero {
    position: relative;
    color: #004080;
    background-color: #e6eff6;
    padding: 50px 20px;
    overflow: hidden;
    text-align: center;
}



.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.join-us-btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: bold;
    color: white; /* Couleur du texte */
    background-color: #e04837; /* Rouge */
    border-radius: 5px; /* Coins arrondis */
    text-align: center;
    text-decoration: none; /* Pas de soulignement */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animation au survol */
}

.join-us-btn:hover {
    background-color: #b03a2e; /* Rouge plus foncé au survol */
    transform: scale(1.05); /* Agrandissement léger */
    text-decoration: none; 
}


/* Services Section------------------------------------------------------------------------------------------------------------------------ */

.services {
    padding: 60px 0;
    text-align: center;
    background-color: #f4f4f4;
}

.service-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.service-item {
    width: 30%;
    min-width: 280px;
    margin-bottom: 30px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.service-item:hover {
    transform: scale(1.05);
}

.service-img {
    width: 100%;
    height: 470px;
    object-fit: cover;
    border-radius: 8px;
}

/* Modal (deuxième plan) */
.modal {
    display: none; /* caché par défaut */
    position: fixed;
    z-index: 9999; /* s'assure qu'il est en haut */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* arrière-plan sombre */
    overflow: auto; /* permet de défiler si nécessaire */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    max-width: 900px;
}

/* Styles du bouton "Voir les détails" */
.open-modal-btn {
    padding: 10px 20px;
    margin-top: 40px;
    background-color: #e04837; /* Couleur de fond rouge orangé */
    color: white;
    border: none;
    border-radius: 30px; /* Bords arrondis */
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease; /* Transition pour l'effet au survol */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre pour donner un effet de profondeur */
}

/* Effet au survol */
.open-modal-btn:hover {
    background-color: #c23a2e; /* Couleur légèrement plus sombre au survol */
    transform: translateY(-5px); /* Légère remontée au survol */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Ombre plus marquée pour l'effet de survol */
}

/* Effet de clic */
.open-modal-btn:active {
    transform: translateY(0); /* Revenir à la position initiale lors du clic */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Réduire l'ombre lors du clic */
}

/* Effet d'animation pour faire ressortir le bouton (focus ou survol) */
.open-modal-btn:focus {
    outline: none; /* Retirer le contour par défaut */
    border: 2px solid #004080; /* Bordure bleue au focus */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Légère ombre autour lors du focus */
}

.close-modal-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h3 {
    color: #e04837;
    font-size: 1.6em;
}

/* Pour le contenu de la modal */
.modal-content h4 {
    color: #004080;
    font-size: 1.2em;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .service-list {
        flex-direction: column;
        align-items: center;
    }

    .service-item {
        width: 80%; 
        margin-bottom: 40px;
    }
    
    .service-img {
        height: auto;
    }

    .modal-content {
        width: 90%;
    }
}

/* Gallery Section------------------------------------------------------------------------------------------------------------------------- */
.hero-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 150px;
    gap: 10px;
    position: relative;
    z-index: 1;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Assure que l'image remplit le cadre sans déformation */
    
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);  /* Zoom léger au survol */
}

/* Sizes for different gallery items */
/* Taille des items pour garantir des proportions harmonieuses */
.gallery-item.large {
    grid-column: span 1;
    grid-row: span 1;
}

.gallery-item.medium {
    grid-column: span 2;
    grid-row: span 1;
}

.gallery-item.small {
    grid-column: span 1;
    grid-row: span 1;
}

/* Conteneur de l'image agrandie */
#enlarged-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

#enlarged-image-container.visible {
    visibility: visible;
    opacity: 1;
}

#enlarged-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

#close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    user-select: none;
}

.clickable {
    cursor: pointer; /* Change le curseur en main */
}

/* Responsive adjustments */
@media (min-width: 1025px) {
    .hero-gallery {
        margin: auto 150px; /* Exemple : réduire la marge */
    }
}

@media (max-width: 1024px) {
    .hero-gallery {
        grid-template-columns: repeat(4, 1fr);
        /* margin: 200px; */
    }
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Contact Section----------------------------------------------------------------------------------- */
.contact {
    padding: 50px 40px;
    background: #e04837d6; /* Rouge doux */
    color: white;
    text-align: center;
}
.contact h2 {
    color: white;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    font-size: 1.1em;
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background: #2C3E50; /* Bleu foncé */
    color: white;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background 0.3s ease;
}

button[type="submit"]:hover {
    background: #728fab; /*  plus claire au survol */
}

@media (max-width: 768px) {
    button[type="submit"] {
        width: 100%;
        padding: 14px;
    }
}



/* Footer----------------------------------------------------------------------------------------------*/
footer {
    background: #2C3E50; /* Bleu foncé */
    color: white;
    padding: 45px;
    text-align: center;
}

footer p {
    font-size: 1em;
}

footer img {
    margin-top: 10px;
    margin-right: 10px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social img {
    width: 35px;
    height: 35px;
    margin-right: 15px;
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    footer img {
        width: 30px;
        height: 30px;
        margin-top: 10px;
    }
}
